/* Header section START */
.custom_container{
    width:1366px!important;
    padding:0px!important;
    margin: 0 auto;
}
.header_section{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(223deg, rgba(96, 105, 126, 0.5), rgba(0, 0, 0, 0.5)), url(../asset/comcast.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header_section .nav_container{
    display: flex;
    justify-content: space-between;
    padding:31px 41px 22px 41px;
}
.header_section .nav_container .logo_container{
    display: flex;
}
.header_section .nav_container .logo_container .circle_img{
    width: 83px;
    height: 83px;
    position: relative;
    top: -11px;
    border-radius: 50%;
    border:1px solid #fff;
    padding: 0px;
    margin-left: 19px;
    overflow: hidden;
}
.header_section .nav_container .logo_container img{
    width: 83px;
    height: 83px;
    border-radius: 50%;
}
.header_section .nav_container .logo_container h1{
    margin-top:0px;
    color:#fff;
    font-size:57px;
    font-family: 'Old Standard TT', serif;

}
.header_section .nav_container .logo_container p{
    color: #fff;
    padding-left: 15px;
    font-size: 19px;
    padding-top: 14px;
    font-family: 'Old Standard TT', serif;
    line-height: 0.9;
}.header_section .nav_container .logo_container p span{
     font-size:12px;
 }

.header_section .nav_container div:nth-child(1) ul{
    list-style-type: none;
    margin-top:10px;
    padding:0px;
    font-size:14px;
}
.header_section .nav_container div:nth-child(1) .ul_list{
    margin-top:0px;
}
.header_section .nav_container div:nth-child(1) ul li{
    float:left;
}
.header_section .nav_container div:nth-child(1) ul li a{
    float:left;
    padding:4px 10px;
    margin:5px;
    color:#fff;
    opacity:0.9;
}
.header_section .nav_container div:nth-child(1) ul li .active{
    border-top:3px solid #F5A623;
    border-bottom:3px solid #F5A623;
}
.header_section .nav_container div:nth-child(1) ul li a:hover{
    text-decoration: none;
}

.header_section .nav_container div:nth-child(2){
    display: flex;
    padding-top:14px;
}
.header_section .nav_container div:nth-child(2)>div{
    margin-top: 11px;
}
.header_section .nav_container div:nth-child(2) .btn_dashboard{
    color:#fff;
    border-radius:40px;
    background-color:#323B52;
    font-size:12px;
    padding: 12px 23px;
}
.header_section .nav_container div:nth-child(2) .btn_dashboard:focus{
    outline: none;
}
.header_section .nav_container div:nth-child(2) ul{
    list-style-type: none;
    margin-top:10px;
    padding:0px;
    padding-left:38px;
}
.header_section .nav_container div:nth-child(2) ul li{
    float:left;
}
.header_section .nav_container div:nth-child(2) ul li a{
    float:left;
    padding:4px 10px;
    margin:5px;
    color:#EFF0F2;
    font-size:14px;
}
.header_section .nav_container div:nth-child(2) ul li:last-child{
    padding-top:2px;
}
.header_section .nav_container div:nth-child(2) ul li:last-child a{
    color:#dde3f1;
    font-size:12px;
}
.header_section .nav_container div:nth-child(2) ul li a:hover{
    text-decoration: none;
}
.header_section .nav_container div:nth-child(3) p:first-child{
    color:#C0CDDB;
    text-align: right;
    font-size:22px;
    margin-bottom: 22px;
    font-family: 'Old Standard TT', serif;
}
.header_section .nav_container div:nth-child(3) p:nth-child(2){
    color:#C8C9CE;
    margin-bottom:0px;
    font-size: 20px;
    margin-top: 57px;
}
.header_section .nav_container .img_text img{
    width:140px;
    margin-left:28px;
}
.header_section .nav_container div:nth-child(3) h4{
    text-align: right;
    color:#E8A12B;
    margin-top:2px;
    font-size:20px;
}

.header_section .trad_container{
    display: flex;
    margin-top:10px;
}
.header_section .first_container{
    margin-top:-3px;
}
.header_section .trad_container>div{
    width:20%;
}
.header_section .inner_container{
    overflow: hidden;
}
.header_section .trad_container .inner_container span{
    float:left;
}
.header_section .inner_container span{
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    margin: 1px;
}
.header_section .inner_container .fa{
    float: right;
    color: #FF3366;
    font-size: 16px;
}
.header_section .inner_container .icon_course .fa{
    color:#F5A623;
}
.header_section .trad_container .text_container{
    display: flex;
}
.header_section .trad_container .text_container h6{
    color: #f9f9f9;
    font-size: 17px;
    margin-top: 6px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    opacity: 0.7;
    padding-top:8px;
}
.header_section .trad_container .text_container h5{
    color:#fff;
    font-size:35px;
    padding-left: 34px;
    margin-top:6px;
    margin-bottom:0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.header_section .trad_container .text_container h5 span{
    font-size:77px;
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}
.header_section .trad_container .text_container h5 .extra{
    font-size:20px;
    color:#fff;
}
.header_section .trad_container .text_container h5 sup:first-child{
    top:-31px;
    font-size: 38px;
}
.header_section .trad_container .text_container h5 sup:last-child{
    top: -32px;
    font-size: 31px;
}
.header_section .trad_container .extra_container h5 sup:last-child{
    top: -30px;
    right: 14px;
    font-size: 33px;
}
.header_section .trad_container .extra_container h5{
    padding-left:45px;
}
.header_section .trad_container .extra_class{
    position: relative;
    top: -18px;
}
.header_section .trad_container .extra_class h5{
    padding-left: 0px;
    opacity: 0.5;
    font-weight: lighter;
}
.header_section .trad_container .bottom_text{
    display: flex;
    justify-content: space-between;
}
.header_section .trad_container .bottom_text p{
    color:#fff;
    font-size:11px;
    margin-bottom:0px;
    padding-top: 4px;
}
.header_section .trad_container .course_img5 .bottom_text p{
    padding-top:0px;
}
.header_section .trad_container .upper_container{
    position: absolute;
    top:49px;
    width:100%;
    left:0px;
    z-index: 1;
    background-color:rgba(45, 191, 22, 0.9);
    display: none;
}
.header_section .trad_container .upper_container .text_upper{
    padding:10px;
}
.header_section .trad_container .upper_container h6{
    color: #fff;
    font-size: 17px;
    margin-top: 6px;
    margin-bottom: 0px;
    padding-top:20px;
    padding-right:96px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    opacity: 0.7;
    padding-top: 8px;
    padding-left:6px;
}

.header_section .trad_container .upper_container .fa-close{
    float:right;
    color:#fff;
}
/* calender container */
/*
* Box sizing fix
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*
 * Container
 */
#container {
    margin: 20px auto 0;
    width: 274px;
}

/*
 * Calendar
 */
.calendar {
    padding: 10px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    text-align: center;
    border: 1px solid #edeff2;
    user-select: none;
}
.calendar__header {
    position: relative;
    padding: 10px 35px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.calendar__year {
    color: #b3b3b3;
}
.calendar__btn {
    position: absolute;
    top: 8px;
    display: block;
    height: 20px;
    padding: 0;
    width: 20px;
    text-indent: -9999px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
.calendar__btn:before {
    content: "";
    position: absolute;
    top: 6px;
    display: block;
    height: 8px;
    width: 8px;
    border-left: 1px solid #1e2633;
    border-top: 1px solid #1e2633;
    transform-origin: center;
}
.calendar__btn_prev {
    left: 10px;
}
.calendar__btn_prev:before {
    left: 8px;
    transform: rotate(-45deg);
}
.calendar__btn_next {
    right: 10px;
}
.calendar__btn_next:before {
    right: 8px;
    transform: rotate(135deg);
}
.calendar__btn_disabled {
    pointer-events: none;
}
.calendar__btn_disabled:before {
    border-color: #b2b2b2;
}
.calendar__btn:hover:before {
    border-color: #985e5b;
}
.calendar__table {
    margin-top: 8px;
    width: 100%;
    table-layout: fixed;
}
.calendar__table-col-header {
    padding: 12px 0;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.1em;
}
.calendar__table-cell {
    padding: 6px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.calendar__table-cell_disabled {
    color: #d3dbe8;
    pointer-events: none;
}
.calendar__table-cell_selected, .calendar__table-cell:hover {
    color: #985e5b;
}



/* calender container end */
.header_section .trad_container .upper_container .calender_container .head_text{
    display: flex;
    justify-content: space-between;
    padding:10px 18px;
}
.header_section .trad_container .upper_container .calender_container .foot_text{
    display: flex;
    justify-content: space-between;
    padding:0px 18px;
}
.header_section .trad_container .upper_container .calender_container .extra_foot_text{
    padding-top:20px;
}
.header_section .trad_container .upper_container .calender_container .extra_foot_t{
    padding-top:37px;
}
.header_section .trad_container .upper_container .calender_container .extra_foot{
    padding-bottom:0px;
}
.header_section .trad_container .upper_container .calender_container .foot_text p:first-child{
    font-size:12px;
    color:#fff;
    font-weight:bold;
    margin-top: 17px;
}
.header_section .trad_container .upper_container .calender_container .foot_text p:last-child{
    font-size: 29px;
    color: #fff;
    margin:0px;
}
.header_section .trad_container .upper_container .calender_container .head_text p:first-child{
    font-size:12px;
    color:#323B52;
    font-weight:bold;
    padding-top:15px;
}
.header_section .trad_container .upper_container .calender_container .head_text p:last-child{
    font-size: 29px;
    color: #323B52;

}
.header_section .upper_container .list_bottom ul{
    padding: 0px;
    list-style-type: none;
    margin-left: 19px;
    margin-top: 13px;
    font-family: "Open Sans";
    font-weight: lighter;
}
.header_section .upper_container .list_bottom ul .div_upper{
    opacity: 0.5;
}
.header_section  .upper_container .list_bottom ul li{
    color:#fff;
    padding:14px 0px;
    font-family: "Open Sans";
    font-weight: normal;
}
.header_section  .upper_container .list_bottom ul li a{
    color:#fff;
    text-decoration: none;
}
.header_section  .upper_container .list_bottom ul li a:hover{
    color:#fff;
}
.header_section .upper_container .graph_container{
    margin-top:20px;
    background-image: url("../asset/grph.png");
    background-size:cover;
}
.header_section .upper_container .graph_container ul li:first-child{
    font-size:27px;
    text-align:center;
}
.header_section .upper_container .graph_container ul li:nth-child(2){
    font-size:20px;
    text-align:center;
}
.header_section .upper_container .graph_container ul li:nth-child(3) span:first-child{
    font-size:20px;
}
.header_section .upper_container .graph_container ul li:nth-child(3) span:last-child{
    float:right;
    font-size:20px;
    margin-right:50px;
}
.header_section  .bottom_text .fa{
    color:#fff;
}
.header_section .trad_container .pink_container{
    background-color:rgba(225, 13, 89,0.9);
}
.header_section .trad_container .orange_container{
    background-color:rgba(254, 172, 44, 0.9);
    top:44px;
}
.header_section .trad_container .orange_container .orange_txt{
    padding:28px 0px;
}
.header_section .trad_container .blue_container{
    background-color:rgba(0, 117, 213, 0.9);
    top:66px;
}
.header_section .trad_container .purple_container{
    background-color: rgba(84, 78, 159, 0.9);
    min-width: 809px;
}
.header_section .trad_container .purple_container .outer_container{
    width:33%;
}
.header_section .trad_container .purple_container .outer_container .text_upper{
    margin-bottom:36px;
}
.header_section .upper_container .course_list ul {
    margin-left:0px;
}

.header_section .upper_container .course_list ul li a{
    margin-left:20px;
}
.header_section .upper_container .course_list ul li:nth-child(1){
    background:rgba(44, 52, 73, 0.2);
    padding-top:20px;
    padding-bottom:20px;
}
.header_section .upper_container .course_list ul .bg_pink_color{
    background:#E10D59;
}
.header_section .upper_container .course_list ul .bg_blue_color{
    background:#2d75e4;
}
.header_section .upper_container .course_list ul .img_container{
    border-radius:50%;
    width:35px;
    height:35px;
    overflow: hidden;
    margin-left:20px;
}
.header_section .upper_container .course_list ul .img_container img{
    width:100%;
}

.header_section .upper_container .course_list ul .profile_list{
    display: flex;
    justify-content: space-between;
}
.header_section .upper_container .course_list ul .percentage_container{
    border:1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10px;
    margin-left:0px;
    margin-right:10px;
}
.header_section .upper_container .course_list .inner_container {
    padding-right: 20px;
    padding-top: 14px;
}
.header_section .upper_container .course_list .footer_cart{
    margin-top:20px;
}
.header_section .upper_container .course_list ul .profile_list .txt{
    margin-bottom:0px;
    margin-top: 10px;
    font-size:12px;
}
.header_section .upper_container .course_list ul .other_list_p{
    display: flex;
    justify-content: space-between;
}
.header_section .upper_container .course_list ul .other_list_p .txt{
    margin:0px 0px 0px 5px;
    padding:2px 0px 0px 0px;
}
.header_section .upper_container .course_list ul .other_list_p .txt:last-child{
    font-size:10px;
    text-align:left;
}
.header_section .upper_container .course_list ul .other_list_p .img_profile{
    display: flex;
}
/* container  background */
.background_img1{
    background-image: url("../asset/S1.png");
    background-repeat: no-repeat;
    background-size:cover;
    top:-1px;
    width:100%;
    padding: 51px 16px 10px 16px;
}
.header_section .trad_container>div:nth-child(1) {
    position: relative;
}

.background_img2{
    background-image: url(../asset/S2.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: -53px;
    width: 100%;
    padding: 104px 16px 10px 16px;
}
.header_section .trad_container>div:nth-child(2){
    position: relative;
}
.background_img3{
    background-image: url(../asset/S3.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: -56px;
    width: 100%;
    padding: 107px 16px 10px 16px;
}
.header_section .trad_container>div:nth-child(3){
    position: relative;
}
.background_img4{
    background-image: url(../asset/S4.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: -16px;
    width: 100%;
    padding: 67px 16px 10px 16px;
}
.header_section .trad_container>div:nth-child(4){
    position: relative;
}
.header_section .trad_container .background_img5 .text_container h6{
    padding-top:0px;
}
.background_img5{
    background-image: url(../asset/S5.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    top: -16px;
    width: 100%;
    padding: 62px 16px 7px 16px;
}
.header_section .trad_container>div:nth-child(5){
    position:relative;
}
.change_container:hover .upper_container{
    display: block;
    z-index: 2;
}
.change_other:hover .header_section .trad_container .purple_container{
    display: block;
}
/* container  background */
/* Header section END */

/* section utilization START*/
.section_utilization{
    background:#323B52;
}
.inner_container{
    overflow: hidden;
}
.inner_container span{
    float:left;
}
.inner_container span{
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    margin: 1px;
}
.section_utilization .img_container{
    background-image: url("../asset/bg.png");
    background-size: 100% 100%;
}

.section_utilization .inner_container{
    margin-top:30px;
}
.section_utilization .header_text h3{
    color:#DCDEE1;
    margin-top:15px;
    font-size:18px;
}
.section_utilization .container_r_graph .inner_container>div span{
    background-color:#ADB0B9;
}
.section_utilization .container_r_graph{
    padding-right:30px;
}
.section_utilization .container_r_graph>div{
    display:flex;
    justify-content: flex-end;
}
.section_utilization .option_container{
    display: flex;
}
.section_utilization .footer_empty{
    min-height: 180px;
    background-image: url("../asset/bg_image.png");
}
.section_utilization .option_container>div:last-child{
    padding-left:83px;
}
.section_utilization .container_r_graph h3{
    color:#C1C4CB;
    font-size:19px;
    margin:10px 0px;
}
.section_utilization .container_r_graph ul{
    list-style-type: none;
    padding:0px;
    margin:0px;
    width:47%;
    display: flex;
    justify-content: space-between;
    font-size:12px;
}
.section_utilization .progress_image{
    margin-top: 5px;
    position: relative;
    top: 14px;
}
.section_utilization .progress_image .comcast_section_u{
    padding-left:27px;
}
.section_utilization .progress_image .second_img_div{
    margin-left:20px;
    background-image: url("../asset/picper.png")!important;
    width:190px!important;
    height:190px!important;
    background-size: cover;
}
.section_utilization .progress_image .second_img_div p{
    color:#6C758C!important;
    font-size:53px!important;
}

.section_utilization .progress_image .container_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../asset/g1.png");
    width: 190px;
    height: 190px;
}
.section_utilization .progress_image .container_img p{
    color:#fff;
    font-size:64px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align:center;
}
.section_utilization .progress_image .container_img p span{
    display: block;
    font-size:12px;
}
.section_utilization .progress_image .image_container{
    display:flex;
}
.section_utilization .progress_image .image_container img{
    width: 190px;
    height: 190px;
    margin-left: 24px;
    margin-top: 0px;
}
.img_other{
    background-image: linear-gradient(#242d4200, #3e475f00)!important;
}
.section_utilization .progress_image .image_container .primary_container_img{
    display: flex;
}
.section_utilization .progress_image .image_container .primary_container_img ul{
    list-style-type: none;
    padding-left: 24px;
    padding-top: 25px;
    margin:0px;
    z-index: 1;
}
.section_utilization .progress_image .image_container .primary_container_img ul li{
    display: flex;
}
.section_utilization .progress_image .image_container .primary_container_img ul li img{
    width: 18px;
    height: 19px;
    margin:0px;
}
.section_utilization .progress_image .image_container .primary_container_img p{
    color:#8fa5c1;
    padding-left:5px;
    font-size:10px;
    padding-top:3px;
    text-transform: uppercase;
}
.section_utilization .inner_container span{
    background:#ADB0B9;
}

.section_utilization  .ex_container span{
    background:#fff;
}
.section_utilization .container_r_graph ul li{
    float: left;
}
.section_utilization .container_r_graph ul li:first-child{
    color:#627091;
}
.section_utilization .container_r_graph ul li:nth-child(2){
    color:#EBA026;
    font-size:12px;
}
.section_utilization .container_r_graph ul li:nth-child(3){
    color:#048BE2;
}
.section_utilization .container_chapter_graph ul li:nth-child(3){
    color:#529908;
}
.profile_container{
    width:190px;
    height:190px;
    border:1px dashed #396873;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
}
.profile_container .inner_profile{
    width:140px;
    height:140px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 8px solid #29A0ED;
    border-bottom: 8px solid #29A0ED;
    transform: rotate(7deg)
}
.profile_container .boy{
    border-right: 8px solid #FAD961;
    border-bottom: 8px solid #FAD961;
    transform: rotate(85deg)
}
.profile_container .boy img{
    transform: rotate(277deg)!important;
}
.profile_container .inner_profile img{
    width:120px!important;
    height:120px!important;
    border-radius: 50%!important;
    margin-left: 0px!important;
    margin-top: 0px!important;
    transform: rotate(355deg)
}
.profile_container .upper_profile{
    background: #BD10E0;
    position: absolute;
    top: 229px;
    padding: 9px 14px;
}
.profile_container .upper_profile h4{
    opacity: 0.5;
    font-family: "Open Sans";
    font-weight: lighter;
    color:#fff;
    text-align: center;
}
.profile_container .bg_green{
    background:#7ED321;
    padding: 9px 39px;
}
.section_utilization .chapter_profile>div:last-child{
    padding-left: 139px;
}
.section_utilization  .chapter_section{
    position: static;
}
.number_circle{
    border:none;
    background-image: linear-gradient(#242d42, #3e475f);
}
.number_circle h1{
    font-size:79px;
    color:#fff;
    opacity: 0.2;
}
.number_circle img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin-left: 0px!important;
    margin-top: 0px!important;
}
.top_space{
    margin-top:32px;
}
/* section utilization END*/

/* section insights and team completion Start*/
.section_two{
    background:#323B52;
    padding-bottom: 60px;
}
.section_two .header_text h1{
    margin-left: 65px;
    color: #444E68;
    font-size: 62px;
    font-family: 'Old Standard TT', serif;
}
.section_two .chat_container_o{
    padding: 40px 0px 0px 40px;
}
.section_two .chat_container_o .chat_box:first-child{
    top:0px!important;
}
.section_two .chat_container_o .chat_box:nth-child(2){
    top:-13px!important;
}
.section_two .chat_container_o .chat_box:last-child{
    top:-53px!important;
}
.section_two .chat_container_o .chat_box:nth-child(odd){
    background-image: url("../asset/c1.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    max-width: 415px;
    position: relative;
    top: -30px;
}

.section_two .chat_container_o .chat_box:nth-child(even){
    background-image: url("../asset/c2.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    max-width: 415px;
    margin-left: 117px;
    position: relative;
    top: -41px;
}
.section_two .chat_container_o .chat_box p{
    color:#8D97B1;
    font-size:17px;
    padding: 29px 94px 70px 56px;
}
.section_two .chat_container_o .chat_box p span{
    color:#c3cad8;
}
.section_two .img_container{
    display: flex;
    justify-content: center;
    padding-bottom:80px;
}

.section_two .team_txt h1{
    margin-left:0px;
    text-align: center;
}
/* progress section start */
.section_two .add_more{
    color: #F2A424;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    width: 20%;
    cursor: pointer;
}
.section_two .click_to_show{
    position: absolute;
    top:76px;
    width:96%;
    background-color:rgba(37, 45, 62, 0.9);
    z-index: 1;
    padding:0px 30px 80px 30px;
    display:none;
}
.section_two .click_to_show .close_icon{
    padding:29px 15px 3px 29px;
}
.section_two .click_to_show .close_icon .fa{
    float:right;
    color:#fff;
    cursor: pointer;
}

.section_two .click_to_show  .extra_color .fa{
    color:#FF3366!important;
    top:3px!important;
}
.section_two .click_to_show  .extra_color p{
    color:#FF3366;
    margin-left:30px;
}
.section_two .click_to_show  .extra_color span{
    background-color:#FF3366;
}

.section_two .add_more .fa{
    margin-right:6px;
}
.section_two .wifi_container{
    color:#fff;
    font-weight: 500;
    font-size:20px;
    position: relative;
    display:flex;
    justify-content: space-between;
    margin-top:25px;
    padding:0px 30px 0px 0px;
}
.section_two .wifi_container .icon_con{
    display: flex;
}

.section_two .wifi_container .icons{
    padding-top:5px;
}
.section_two .wifi_container .icons .fa{
    color:#ADB0B9;
}
.section_two .extra_wifi .fa{
    color:#329896!important;
}
.section_two .wifi_container .fa:first-child{
    position:absolute;
    top:-3px;
}
.section_two .wifi_container p{
    margin-left:20px;
    color:#ADB0B9;
}
.section_two .wifi_container .color_text{
    color:#fff;
}
.section_two .inner_container>div{
    display: flex;
    flex-direction: column;
}
.section_two .inner_container span{
    background:#ADB0B9;
}
.section_two .progress_section{
    padding:0px 30px;
}
.section_two .progress_section ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
.section_two .progress{
    padding-left: 4px;
    background-color: #252C3E;
    border-radius: 10px;
    height: 16px;
    margin-bottom: 15px;
}
.section_two .comcast_page{
    position: relative;
    top:-68px;
}
.comcast_page_section .main_container{
    position: absolute;
    top: -349px;
    width: 100%;
}
.comcast_page_section .primary_main{
    position: relative;
    width:100%;
}
.section_two .progress-bar{
    border-radius: 10px;
}
.section_two .progress_section ul li:nth-child(1){
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.section_two .progress_section ul li h4{
    color:#8D9096;
}
.section_two .progress_section ul li h5{
    color:#476076;
    padding-right:35px;
}
.section_two .progress_section ul li span{
    color:#31D3C2;
}
.section_two .progress_section ul li span:first-child{
    color:#0190EC;
    margin-left:10px;
}
.section_two .progress_section ul li:nth-child(2) .progress-bar{
    background:#31D6C4;
}
.section_two .progress_section ul li:nth-child(3) .progress-bar{
    background:#0093F1;
}
.section_two .progress_section .color_container{
    background:#F5A623!important;
}
.section_two .progress_section .color_txt{
    color:#F5A623;
}

/* section insights and team completion Start*/




/* page coursework Start */
.course_bg_img{
    background: linear-gradient(rgba(123, 116, 116, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(223deg, rgba(96, 105, 126, 0.5), rgba(0, 0, 0, 0.5)), url(../asset/sea.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.course_work_page{
    background:#323B52!important;
}
.header_section .nav_container div:nth-child(1) .coursework_list li .active{
    border-top:3px solid #31D6C4;
    border-bottom:3px solid #31D6C4;
}
.header_section .nav_container div:nth-child(1) .chapter_list li .active{
    border-top:3px solid #B8E986;
    border-bottom:3px solid #B8E986;
}
.header_section .nav_container div:nth-child(1) .certification_list li .active{
    border-top:3px solid #D10CF9;
    border-bottom:3px solid #D10CF9;
}
.header_section .nav_container div:nth-child(3) .sky_color{
    color:#31D6C4;
}
.header_section .nav_container div:nth-child(3) .pink_clr{
    color:#D622F8;
}
.header_section .nav_container div:nth-child(3) .green_color{
    color:#7ED222;
}
.course_img1{
    background-image: url(../asset/course1.png);
}
.course_img2{
    background-image: url(../asset/course2.png);
}
.course_img3{
    background-image: url(../asset/course3.png);
}
.course_img4{
    background-image: url(../asset/course4.png);
}
.course_img5{
    background-image: url(../asset/course5.png);
}
.course_tow_section .course_dots{
    margin-top:0px;
    padding-left:30px;
}
.course_tow_section .course_dots>div{
    flex-direction: row;
}
.section_two .course_work_txt h1{
    text-align: right;
    margin: 0px 0px;
    padding-right: 52px;
    position: relative;
    top: 37px;
}
.section_two .course_work_ul ul:first-child{
    margin-top:0px;
}
.section_two .course_work_ul ul{
    margin-top:25px;
}
.section_two .course_page{
    top:46px;
}
.section_two .course_page .inner_container{
    margin-top:0px;
}
.utilization_coursework{
    background:#323B52;
}
.utilization_coursework .inner_container >div{
    flex-direction: row;
}
.utilization_coursework .container_r_graph ul{
    width:31%;
}
.utilization_coursework .container_r_graph ul li:nth-child(2){
    color:#9D1ABF;
}
.coursework_img{
    background-image:url("../asset/bg2.png");
    background-repeat: no-repeat;
    background-size: 100% 31%;
}
/* */
.history_contianer{
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.history_contianer .head_txt h1{
    text-align: right;
    margin: 0px 0px;
    padding-right: 52px;
    color: #444E68;
    font-size: 62px;
}
.primary_wrapper .history_detail{
    display: flex;
}
.primary_wrapper .history_detail>.flex_wrapper:after{
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #fff;
    transform: translate(-50%);
    z-index: 1;
}
.primary_wrapper .last_detail>.flex_wrapper:after{
    height: 99px;
}
.primary_wrapper .history_detail>.flex_wrapper{

}
.history_main_wrapper{
    margin-top:9px;
}
.primary_wrapper .history_detail .flex_wrapper{
    width:100%;
    height: 100%;
    position:relative;
    display: flex;
    justify-content:center;
    margin:0px;
    padding-top:40px;
}
.primary_wrapper .history_detail .flex_second_wrapper{
    display:flex;
    flex-direction: row-reverse;
}
.primary_wrapper .history_detail .flex_second_wrapper .container_txt{
    left:12%;
}
.primary_wrapper .history_detail .flex_wrapper:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
}
.primary_wrapper .history_detail .flex_wrapper>div{
    width:100%;
}
.primary_wrapper .history_detail .flex_wrapper >div:last-child{
    width:100%;
    top:0px;
}
.primary_wrapper .history_detail .flex_wrapper >div:nth-child(1){
    display: flex;
    justify-content: flex-end;
}
.primary_wrapper .history_detail .flex_wrapper >div:nth-child(2){
    display: flex;
    justify-content: center;
    z-index: 2;
    position: relative;
}
.primary_wrapper .history_detail .flex_wrapper p{
    color:#8E9CAB;
    font-size:18px;
}
.primary_wrapper .history_detail .flex_wrapper .date_text p{
    padding-top: 51px;
    position: relative;
    left: 20%;
}
.primary_wrapper .history_detail .flex_wrapper .small_text p{
    font-size:12px;
    padding-top: 35px;
    position: relative;
    left: 24%;
}
.primary_wrapper .history_detail .flex_wrapper .extra_s p{
    padding-top:56px;
}

.primary_wrapper .history_detail .flex_wrapper .right_side_text p{
    padding-top: 37px;
    position: relative;
    left: -79%;
}
.primary_wrapper .history_detail .flex_wrapper .extra_space p{
    left:-98%;
}
.primary_wrapper .rounded_container{
    border-radius: 5px;
    width:34px;
    height:40px;
    top:27%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.primary_wrapper .rounded_inner{
    border-radius: 50%;
    width:14px;
    height:14px;
    background:yellow;
}
.primary_wrapper .container_txt{
    display: flex;
    justify-content: space-between;
    background: #31D6C4;
    width: 100%;
    left: -24%;
    position: relative;
    padding: 10px 10px;
}
.primary_wrapper .blue_bg{
    background:#0093F1;
}
.primary_wrapper .container_txt>div{
    position:relative;
}
.primary_wrapper .container_txt .triangle-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #31d6c4;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 40%;
    left: -20px;
}
.primary_wrapper .container_txt .triangle-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #31d6c4;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 40%;
    left: 243px;
}
.primary_wrapper .container_txt .triangle-blue {
    border-right: 10px solid #0093F1;
}
.primary_wrapper .pink_bg{
    background-color:#FF3366;
}
.primary_wrapper .container_txt .triangle-pink {
    border-left: 10px solid #FF3366;
}
.primary_wrapper .container_txt .triangle-pink_left {
    border-right: 10px solid #FF3366;
}
.primary_wrapper .container_txt .triangle-blue_right {
    border-left: 10px solid #0093F1;;
}
.primary_wrapper .container_txt button{
    border:1px solid #B3E9E3;
    padding:2px 14px;
    border-radius:18px;
    background-color:rgba(49, 214, 196, 0.9);
    color:#fff;
    display: flex;
    font-size:10px;
    outline:none;
}
.primary_wrapper .container_txt .btn_pink{
    background-color:rgba(247, 70, 114, 0.83);
}
.primary_wrapper .container_txt .btn_blue{
    background-color:rgb(0, 147, 241, 0.83);
}
.primary_wrapper .container_txt button .fa{
    padding-top:1px;
    padding-left:5px;
}
.primary_wrapper .container_txt h5{
    color:#fff;
}
.primary_wrapper .container_txt p{
    color:#AEEFE8!important;
    font-size:9px!important;
}
.primary_wrapper .container_txt span{
    color:#fff!important;
    font-size:11px!important;
}
/* page coursework End */

/* page certification Start */
.certificate_bg{
    background: linear-gradient(rgba(123, 116, 116, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(223deg, rgba(96, 105, 126, 0.5), rgba(0, 0, 0, 0.5)), url(../asset/sea.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.certificate_img{
    background-image: url(../asset/bg2.png);
    background-repeat: no-repeat;
}
.certificate_img1{
    background-image: url(../asset/certificate1.png);
}
.certificate_img2{
    background-image: url(../asset/certificate2.png);
}
.certificate_img3{
    background-image: url(../asset/certificate3.png);
}
.certificate_img4{
    background-image: url(../asset/certificate4.png);
}
.certificate_img5{
    background-image: url(../asset/certificate5.png);
}

/* page certification End */


/* page chapter Start */
.chapter{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(223deg, rgba(96, 105, 126, 0.5), rgba(0, 0, 0, 0.5)), url(../asset/imgb.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.header_section .chapter_container .day{
    justify-content: space-between;
}
.header_section .chapter_container .day h5{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding:26px 20px 0px 0px;
}
.header_section .chapter_container .time_text{
    padding:27px 0px 0px 12px
}
.header_section .chapter_container .time_text h5{
    font-size:70px;
    color:#fff;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
.header_section .chapter_container  .bottom_text p{
    padding-bottom:20px;
}
.chapter_img1{
    background-image: url(../asset/chapter1.png);
}
.chapter_img2{
    background-image: url(../asset/chapter2.png);
    margin-top:53px;
    padding-top: 51px;
}
.chapter_img3{
    background-image: url(../asset/chapter3.png);
    margin-top: 19px;
    padding-top: 88px;
}
.chapter_img4{
    background-image: url(../asset/chapter4.png);
    top: -26px;
    padding-top: 77px;
}
.chapter_img5{
    background-image: url(../asset/chapter5.png);
    margin-top: 41px;
    padding-top: 29px;
}
.header_section .chapter_container{
    margin-top:-18px;
}
.section_utilization .ex_p{
    padding-bottom:20px;
}

.section_utilization .ex_p .inner_container{
    margin-top:5px;
}

.section_utilization .ex_p>div:last-child{
    padding-left:116px;
}
.section_two .chat_box_chapter{
    background:#404A62;
    position:relative;
}
.section_two .primary_chat>div:nth-child(odd){
    display: flex;
    justify-content: center;
    width:100%;
    margin-top:24px;
}
.section_two .primary_chat>div:nth-child(even){
    display: flex;
    justify-content: flex-end;
    width:100%;
}
.section_two .primary_chat>div:nth-child(odd) .chat_box_chapter{
    padding-top: 47px;
    margin-right: 31px;
    width: 74%;
    padding-bottom: 48px;
    text-align: center;
}
.section_two .primary_chat>div:nth-child(even) .chat_box_chapter{
    padding: 46px 49px 46px 46px;
    margin-top: 24px;
    width:74%;
}
.section_two .primary_chat>div:nth-child(odd) .chat_box_chapter::after{
    content: '';
    border-left: 31px solid transparent;
    border-right: 0px solid transparent;
    border-top: 24px solid #404a62;
    position: absolute;
    top: 148px;
    left:34px;
}
.ctr_section{
    padding-top:20px;
}
.section_two .primary_chat>div:last-child .chat_box_chapter::after{
    content: '';
    border-left: 31px solid transparent;
    border-right: 0px solid transparent;
    border-top: 24px solid #404a62;
    position: absolute;
    top: 166px;
    margin-top:10px;
}

.section_two .primary_chat>div:nth-child(even) .chat_box_chapter::after{
    content: '';
    border-left: 0px solid transparent;
    border-right: 31px solid transparent;
    border-top: 24px solid #404a62;
    position: absolute;
    top: 135px;
    right:20px;
}
.section_two .chat_box_chapter h3{
    color:#31394F;
    font-size:44px;
}
.section_two .small_chat h3{
    font-size:30px;
    margin-top:5px;
}
.section_two .compression{
    padding: 53px 49px 52px 46px!important;
}
.section_two .last_container{
    display: flex;
    justify-content: center;
}
.section_two .chapter_last_img{
    padding-top:54px;
}
.section_two .chapter_chatter .chatter_primary{
    background: #9B1BBC;
    width: 80%;
    float: right;
    margin-right: 40px;
    font-weight: lighter;
    padding: 47px 121px 47px 42px;
    position:relative;
    opacity: 0.9;
}
.section_two .chapter_chatter .chatter_primary::after{
    content: '';
    border-left: 0px solid transparent;
    border-right: 47px solid transparent;
    border-top: 49px solid #9B1BBC;
    position: absolute;
    right: 86px;
    margin-top: 46px;
}
.section_two .chapter_chatter .chatter_primary p{
    color:#fff;
    font-family: "Open Sans";
    font-size:27px;
}
.section_two .chapter_chatter .chatter_second{
    background: #457BBE;
    margin-top: 71px;
    width: 93%;
    position: absolute;
}
.section_two .chapter_chatter .chatter_second::after{
    border-top: 49px solid #457BBE;
    border-left:47px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    margin-top: 46px;
    right:281px;
}
.section_two .chapter_chatter .chatter_third{
    background: #791ED3;
    margin-top: 70px;
    margin-right: 126px;
    position: absolute;
    width: 100%;
    left: -97px;
}
.section_two .chapter_chatter .chatter_third::after{
    border-top: 47px solid #791ED3;
    border-left:0px solid transparent;
    border-right: 49px solid transparent;
    position: absolute;
    left:85px;
    right:99%;
    margin-top: 46px;
}
.section_two .chapter_chatter .chatter_four{
    background:#455068;
    margin-top:74px;
    position:absolute;
    width:100%
}
.section_two .chapter_chatter .chatter_four::after{
    border-top: 47px solid #455068;
    border-left:49px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    left:152px;
    right:99%;
    margin-top: 46px;
}
.section_two .foot_img{
    margin-top: 50px;
    position: absolute;
    top: 152px;
}

.section_two .foot_img img{
    widht:100%;
}
.section_chapter{
    padding-bottom: 114px;
}
.section_chapter .chatter_txt{
    padding:14px 0px;
}
.section_chapter .chatter_txt h1{
    text-align: right;
    padding-right:62px;
}
.chapter_img{
    background-image: url("../asset/chapter_bg.png");
    margin:0 auto;
    background-size: 100% 100%;
}
.chapter_primary{
    position:relative;
    top:-224px;
}
/* page chapter End*/











/* footer section Start */
.footer>div{
    background-color:#2C3449;
    padding-top:50px;
}
.footer .primary_container>div{
    display: flex;
    justify-content: center;
}
.footer .primary_container ul{
    padding:0px;
    margin:0px;
    list-style-type: none;
    font-size:14px;
}
.footer .primary_container li a{
    text-decoration: none;
    color:#0685D9;
}
.footer .primary_container li a:hover{
    color:#0685D9;
}
.footer .primary_container li:first-child{
    padding-bottom:24px;
    font-weight: 600;
}
.footer .primary_container>div:last-child li{
    float: left;
    border-radius: 100%;
    border: 2px solid #0588DE;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
}

.footer .primary_container>div:last-child li:first-child{
    padding-bottom:0px;
}
.footer .primary_container>div:last-child li .fa{
    color:#31D6C4;
}
.footer_text ul{
    padding-top: 55px;
    padding-bottom: 58px;
    margin: 0px;
    list-style-type: none;
    padding-left: 48px;
    font-size: 14px;
}
.footer_text ul li a{
    text-decoration: none;
    color:#717785;
}
.footer_text ul li{
    float:left;
    color:#8E949F;
    margin-left:20px;
}
.footer_text ul li:first-child{
    margin-left:0px;
}
.footer_text ul li:last-child{
    float: right;
    color:#D8DCE2;
    font-size:20px;
    padding-right:96px;
    margin-top:-15px;
}
.footer_text ul li:last-child img{
    width:140px;
}
/* footer section end */
